<h1>Your cart</h1>
<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Product</th>
      <th>Precio Unidad</th>
      <th>Precio Total</th>
    </tr>
  </thead>
  <% if Product.count > 0 %>
    <% @cart.items.each do |item| %>
      <tr>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          <%= image_tag item.product.image.thumb %>
          <br>
          <%= link_to item.product.name, item.product %>
        </td>
        <td>
          <%= number_to_currency(item.product.price, precision: 0)%>
        </td>
        <td>
          <%= number_to_currency(item.total_price, precision: 0)  %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <tfoot>
    <tr>
      <td>
        <strong>
          Total:
          <%= number_to_currency(@cart.total_price, precision: 0) %>
        </strong>
      </td>
    </tr>
  </tfoot>
</table>
<%= link_to "Checkout", checkout_cart_path %>
