<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Quantity</th>
      <th>Category</th>
      <th>Supplier</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price, precision: 0)%></td>
        <td><%= wicked_pdf_image_tag product.image.thumb %></td>
        <td><%=  product.quantity %></td>
        <td> <%= product.category.name  %> </td>
        <td> <%= product.supplier.name  %> </td>

      </tr>
    <% end %>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Proveedor</th>
      <th>Telefono provedor</th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.product_name %></td>
        <td> <%= history.supplier_name  %> </td>
        <td> <%= history.supplier_phone  %> </td>

      </tr>
    <% end %>
  </tbody>
</table>
