<%= @e %>
<p>

  <%= image_tag @product.image.thumb %>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity  %>
</p>

<% if @product.category %>
<p>
  <strong>Category:</strong>
    <%= @product.category.name  %>
</p>
<% end %>
<% if @product.supplier %>
<p>
  <strong>Supplier:</strong>
  <%= @product.supplier.name  %>
</p>
<% end %>




<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<% if @product.quantity > 0 %>
  <%= link_to 'Add to cart', add_cart_path, method: :post %>
<% end %>
