
<div class="row product_container">
  <div class="col-md-6 col-lg-6 col-xs-12 text-center product_image">
    <%= image_tag @product.image , class:"img-thumbnail"%>

  </div>
  <div class="col-md-6 col-lg-6 col-xs-12 product_description">
    <h3 class="text-center"><%= @product.name %>
      <% if current_user && current_user.admin? %>
      <%= link_to edit_product_path(@product) do %>
         <span class="glyphicon glyphicon-pencil "></span>
      <% end %>
      <% else %>
      <% if @product.quantity > 0 %>
      <%= link_to add_cart_path, method: :post do %>
         <span class="glyphicon glyphicon-shopping-cart "></span>
      <% end %>
      <% end %>


      <% end %>
    </h3>
    <p>
      <strong>Precio:</strong>
      <%= number_to_currency(@product.price, precision:0) %>
    </p>
    <p>
    <strong>Cantidad:</strong>
    <%= @product.quantity  %>
    </p>
    <p>
      <strong>Categoría:</strong>
      <% if @product.category %>
        <%= link_to @product.category.name, @product.category %>
        <% else %>
        Sin Categoría
      <% end %>
    </p>
    <% if current_user && current_user.admin? %>
    <p>
      <strong>Proveedor:</strong>
      <%= link_to @product.supplier.name, @product.supplier %>
    </p>
    <% end %>
  </div>
</div>

<br>
<%= link_to 'Atrás', products_path %>
